.wrapper {
	display: flex;
	width: 160px;
	height: 550px;
	background-color: #eef2c1; 
	border-radius: 10px;
	position: relative;
}

.container {
	margin: 40px auto 0;
}

.buttonContainer {
	margin-top: 43px;
}

.moneyContainer {
	margin-top: 35px;
}