.container {
	width: 25px;
	height: 63px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px; 
	background-color: #cdcac6;
}

.keeper {
	width: 7px;
	height: 46px;
	background-color: black;
}