.wrap {
	height: 930px;
}

.container {
	display: flex;
  justify-content: center;
	margin: 0 auto;
	width: 700px;
	height: 100%;
	background-color: #ba2322;
	border-radius: 50px 50px 0 0;
}

.itemsContainer {
	width: 585px;
	height: 550px;
	margin-top: 80px;
	display: flex;
	align-items: center;
  justify-content: center;
}

.stands {
	width: 700px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
  
.standLeft {
	width: 70px;
	height: 35px;
	background-color: black;
	position: relative;
	left: 30px;
}

.standRight {
	width: 70px;
	height: 35px;
	background-color: black;
	position: relative;
	right: -530px;
}