.wrap {
	height: 960px;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 700px;
	height: 100%;
	background-color: #ba2322;
	border-radius: 50px 50px 0 0;
}

.box {
	margin: 40px 55px;
}

.itemsContainer {
	width: 585px;
	height: 590px;
	margin: 80px auto 0;
	display: flex;
}

.stands {
	width: 700px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
  
.standLeft {
	width: 70px;
	height: 35px;
	background-color: black;
	position: relative;
	left: 30px;
}

.standRight {
	width: 70px;
	height: 35px;
	background-color: black;
	position: relative;
	right: -530px;
}